<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Todo.ly Test Suite">


	<test name="User Tests">
		<groups>
			<run>
				<include name="user" />
			</run>
		</groups>

		<classes>
			<class name="apiTests.user.CreateUserTest">
				<methods>
					<!-- Currently failing -->
					<exclude name="createUserWithInvalidAddItemMoreExpanded" />
					<exclude name="createUserWithDefaultProjectId" />

				</methods>
			</class>
		</classes>
	</test>
	
	

</suite>